* {
  padding: 0;
  margin: 0;
}
/* 
h1 {
  padding-bottom: 2rem;
}

ul {
  list-style: none;
}

li {
  border-color: #231F20;
  border-style: solid;
  border-width: 1px;
  padding: 1rem 0 1rem 0;
}

.sidebar > ul > li {
  background-color: #85ffd8;
}

.sidebar > ul > li:hover {
  background-color: white;
}

.sidebar {
  padding-top: 10px;
  background-color: #42f5bc;
  width: 20vw;
  height: 100vh;
} */